.header{
	padding-top:1rem!important;
	padding-bottom:.5rem!important;
	margin-bottom:1rem!important;
}

#title-table{
	max-width:800px;
}
.col-width-name{
	width:60%;
}
.col-width-edit{
	width:20%;
}
.col-width-delete{
	width:20%;
}