<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<title>todo一覧　
</title>
	<!-- 個別CSS読み込み -->
	<link rel="stylesheet" th:href="@{/css/todo/todo.css}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<!-- 個別JS読み込み -->
	<script th:src="@{/js/todo/todo.js}" defer></script>
	<!-- crsf対策 -->
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>	
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<div id="todo-title">	
				<input type="hidden" name="listId" th:field="${titleForm.listId}">
				<input type="hidden" name="userId" th:field="${titleForm.userId}">				
				<input type="hidden" name="color" th:field="${titleForm.color}">
				<h1 class="h2">				
					<input type="text" name="listName" maxlength="50" th:field="${titleForm.listName}"
						placeholder="タイトルを入力" class="border secondary rounded title-input" >
				</h1>
			</div>			
		</div>
		<!-- 一覧表示 -->
		<div>	
			<table id="todo-table" class="table table-borderless table-hover todo-table">
				<thead class="thead-light">
					<tr>
						<th class="th-width-chk"></th>				
						<th class="th-width-name">タスク</th>
						<th class="th-width-btn">優先度</th>
						<th class="th-width-btn">重要度</th>
						<th class="th-width-btn"></th>
						
					</tr>
				</thead>				
				<tbody id="todos">	
					<!-- <tr>　</tr> -->	
					<tr class="todo" th:each="todoForm:${todoFormList}">
						<td>
							<input type="checkbox" name="doneFlg" />
							<input type="hidden" name="itemId" th:value="${todoForm.itemId}"> 
							<input type="hidden" name="listId" th:value="${todoForm.listId}">			
						</td>					
						<td>
							<input type="text" name="itemName" maxlength="40" th:value="${todoForm.itemName}"
								class="border border-light rounded input-text" placeholder="todoを入力">	
						</td>
						<td>	
							<select name="priority" class="border border-light rounded" >
								<option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}"
								 th:selected="${i==todoForm.priority}" th:text="${i}">
							</select>
						</td>
						<td>
							<select name="importance" class="border border-light rounded " >
								<option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}"
								 th:selected="${i==todoForm.importance}" th:text="${i}">
							</select>
						</td>
						<td>
							<form class="btn-circle todo-delete-form" method="post" th:action="@{/todo/todo}">	
								<input type="hidden" name="itemId" th:value="${todoForm.itemId}"> 
								<input type="hidden" name="listId" th:value="${todoForm.listId}">
							    <button type="button" name="delete" class="btn btn-secondary btn-sm todo-delete-btn">
									<i class="fas fa-times"></i>	    
							    </button>
							</form>		
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- 新規追加ボタン-->
		<input class="listid" type="hidden" name="listId" th:value="${titleForm.listId}">
		<button id="btn-create" class="btn btn-primary" type="button" name="insert">
			<i class="fas fa-plus"></i>
		</button>		 
		<p></p>
		<h1 class="h2">完了済み</h1>
		<!-- 完了済み一覧表示 -->
		<div>	
			<table class="table table-borderless table-hover todo-table">
				<thead>
					<tr>
						<th class="th-width-chk"></th>				
						<th class="th-width-name"></th>
						<th class="th-width-btn"></th>
						<th class="th-width-btn"></th>
						<th class="th-width-btn"></th>
					</tr>
				</thead>
				<tbody id="done-todos">		
					<tr class="todo"th:each="todoForm:${doneFormList}" th:object="${todoForm}" >
						<td>
							<input type="checkbox" name="doneFlg" checked />
							<input type="hidden" name="itemId" th:value="${todoForm.itemId}"> 
							<input type="hidden" name="listId" th:value="${todoForm.listId}">			
						</td>					
						<td>
							<input type="text" name="itemName" maxlength="40" th:value="${todoForm.itemName}"
								style="text-decoration:line-through" 
								class="border border-light rounded input-text" placeholder="todoを入力" >	
						</td>
						<td>
							<select name="priority" class="border border-light rounded " >
								<option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}"
								 th:selected="${i==todoForm.priority}" th:text="${i}">
							</select>
						</td>
						<td>
							<select name="importance" class="border border-light rounded " >
								<option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}"
								 th:selected="${i==todoForm.importance}" th:text="${i}">
							</select>
						</td>
						<td>	
							<form class="todo-delete-form" method="post" th:action="@{/todo/todo}">									
								<input type="hidden" name="itemId" th:value="${todoForm.itemId}"> 
								<input type="hidden" name="listId" th:value="${todoForm.listId}">	
							    <button type="button" name="delete" class="btn btn-secondary btn-sm todo-delete-btn">
									<i class="fas fa-times"></i>	    
							    </button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>				
	</div>
</body>
</html>